@model Proyecto3.Models.PRUEBAS_TA_04_CAT_TAREAS

@{
    ViewBag.Title = "create";
}

<h2>create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PRUEBAS_TA_04_CAT_TAREAS</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_NOMBRE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_NOMBRE)
            @Html.ValidationMessageFor(model => model.T_NOMBRE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.T_DESCRIPCION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.T_DESCRIPCION)
            @Html.ValidationMessageFor(model => model.T_DESCRIPCION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.E_PRIORIDAD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.E_PRIORIDAD)
            @Html.ValidationMessageFor(model => model.E_PRIORIDAD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.F_START)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.F_START)
            @Html.ValidationMessageFor(model => model.F_START)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.F_END)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.F_END)
            @Html.ValidationMessageFor(model => model.F_END)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
